<template name="logo">
  <div class="logo header-module">
    {{#if logoUrl}}
      <h1 class="logo-image ">
        <a href="/">
          <img src="{{logoUrl}}" alt="{{getSetting "title" "Hanet Video"}}"/>
        </a>
      </h1>
    {{else}}
      <h1 class="logo-text"><a href="/">{{getSetting "title" "Hanet Video"}}</a></h1>
    {{/if}}
    {{#if getSetting "tagline"}}
      <h2 class="tagline">{{getSetting "tagline"}}</h2>
    {{/if}}
  </div>
</template>
