<template name="footer_code">
  <div class="footer-code {{moduleClass}}">
    {{#if footerCode}}
      {{#markdown}}{{footerCode}}{{/markdown}}
    {{else}}
      <a href="http://hanet.com" target="_blank">{{_ "powered_by_telescope"}}</a>
    {{/if}}
  </div>
</template>
