<template name="user_invites">
  <div class="grid-small grid-block dialog admin">
    <h3>Mời</h3>

    {{#if canCurrentUserInvite}}
      {{#autoForm schema=invitesSchema id="inviteForm" class="form-block" type="method" meteormethod="inviteUser"}}
        <h3>Mời bạn bè</h3>
        <div class="control-group">
          <label>Email</label>
          <div class="controls">
            {{> afFieldInput name="invitedUserEmail"}}
          </div>
        </div>
        <div class="form-actions">
          {{#if afFieldIsInvalid name="invitedUserEmail"}}
            This is not a valid email
          {{/if}}
          <input type="submit" class="button btn btn-primary" value="Invite" />
        </div>
      {{/autoForm}}
    {{/if}}

    <table>
      <thead>
        <tr>
          <td>Email</td>
          <td>Đã nhận lời mời</td>
        </tr>
      </thead>
      <tbody>
          {{#each invites}}
          <tr>
            <td>{{invitedUserEmail}}</td>
            <td>{{#if accepted}}{{{icon "voted"}}}{{/if}}</td>
          </tr>
          {{/each}}
      </tbody>
    </table>

  </div>
</template>
